extends layout

block content
  h1= title
  - var rows = Number(query.rows) 
  - var cols = Number(query.cols) 
  - if(!(Number.isInteger(rows)) || !(Number.isInteger(cols))) {
    p The values must be integers only
  - }
  - else if(!(rows >= 1 && rows <= 10)) {
    p Range of rows must be in 1 to 10
  - } 
  - else if(!(cols >= 1 && cols <= 10)) {
    p Range of cols must be in 1 to 10
  - }
  - else {
    br
    h5 Displaying Table
    table#outer 
        - for(let i = 0; i < rows; i++) {
            tr#middle 
                - for(let j = 0; j < cols; j++) {
                    td= (1 + i + j * rows)
                - }
        - }
  - }