extends layout

block content
  h1= title
  p Welcome to #{title}
  p Dad's little princess
  button(type="button",class="btn btn-secondary", onclick ="doBump()") press Me
  div#bump Bump the count

  script.  
    var count = 0
    var bump = 1
    function doBump() {
      count = count + bump 
      bump = bump + 1
      document.getElementById("bump").innerHTML = "Count "+ count +" Bump "+bump;
    }